
<h1>Напишите отзыв</h1>

<form method="post">
    
    <input name="username" type="text" width="100" />
    <br/>
    <input name="text" type="text" width="1000" />

    <input type="submit" value="Отправить"/>

</form>



<h2> @ViewData["FeedbackText"] </h2>
